[user]
  name = asos-tommycouzens
  email = tommy.couzens@asos.com
[core]
  editor = vi
  excludesfile = ~/.gitignore
  autocrlf = input
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
[init]
  defaultBranch = master
[web]
  browser = google-chrome
[credential]
  helper = osxkeychain
[push]
  default = simple
  autosetupremote=true
[merge]
  tool = kdiff3
[difftool]
  prompt = false
  # difftool.sourcetree.cmd=opendiff "$LOCAL" "$REMOTE"
  # difftool.sourcetree.path=

# mergetool.sourcetree.cmd=/Applications/Sourcetree 2.app/Contents/Resources/opendiff-w.sh "$LOCAL" "$REMOTE" -ancestor "$BASE" -merge "$MERGED"
# mergetool.sourcetree.trustexitcode=true

# icdiff.options=--highlight --line-numbers

[alias]
  c = commit
  ca = commit -a
  cm = commit -m
  cam = commit -am
  d = diff
  dc = diff --cached
  l = log --graph --pretty=format:"%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset" --abbrev-commit
[pull]
	rebase = true
